@page "/"



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p class="mt-0 mb-0">This is a tiny demo with the new pattern. PWA Download in URL-Bar </p>
<p class="mt-0 mb-0">The Data layer with generic repos and UOW was removed. DTO-Mappings are manual now. </p>
<p class="mt-0 mb-0">REST API: Minimal Architecture, Validation, Authorization </p>
<p class="mt-0 mb-0">Swagger Page: <NavLink href="/swagger">Swagger</NavLink> (Token required)</p>

<p class="mt-4 mb-0">3 Accounts get seeded by default:</p>
<p class="mt-0 mb-0">admin.1@gmail.com </p>
<p class="mt-0 mb-0">company.1@gmail.com</p>
<p class="mt-0 mb-0">customer.1@gmail.com</p>
<p class="mt-0 mb-0">Password: Abc.123</p>







